body {
  --item-height: 80px;
  --border-color: #DDD;
  min-height: 100vh;
  padding: 70px 20px;
  box-sizing: border-box;
  background-image: linear-gradient(125deg,royalblue,brown);
  color: #333;
  font-size: 20px;
  font-weight: 600;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
input {
  font-size: 20px;
  font-weight: 600;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.shadow {
  box-shadow:
    4px 4px 14px rgba(#000,.1),
    4px 4px 50px rgba(#000,.2);
}

.todo-head {
  height: 60px;
  border-bottom: 1px solid var(--border-color);
  background-color: rgba(255,255,255, 0.9);
  position: relative;
}
.todo-head .the-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 24px;
}
.todo-head .btn-group {
  height: 100%;
  display: flex;
  position: absolute;
  right: 0;
}
